<!DOCTYPE html>
{%extends 'MyApp/base.html'%}
{%load static%}
{%block about%}
<section class="about" id="about">
  <div class="max-width" style=" margin-left: 200px;  margin-top: 20px;">
      <h2 class="title">About me</h2>
      <div class="about-content">
          <div class="column left">
              <img src="images/banner.jpeg" alt="">
          </div>
          <div class="column right">
              <div class="text">I'm Chetan and I'm a <span class="typing-2"></span></div>
              <p>I am outgoing, self motivated, dedicated, and open-minded. I get across to people and adjust to changes with ease. I believe that a person should work on developing their professional skills and learning new things all the time. Currently, I am looking for more productive role that sut my skills and abilities to grow further.</p>
              
          </div>
      </div>
  </div>
</section>
{%endblock%}