<!DOCTYPE html>
{%extends 'MyApp/base.html'%}
{%load static%}
{%block clients%}
<section class="teams" id="teams">
  <div class="max-width" style=" margin-left: 180px; margin-right: 20px; margin-top: 0px;">
      <h2 class="title">  My Clients</h2>
      <div class="carousel owl-carousel">
          <div class="card">
              <div class="box">
                  <img src="images/profile-1.jpeg" alt="">
                  <div class="text">Ankit Gautam</div>
                  <p>DevOps Engineer at Infosys LTD</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <img src="images/profile-2.jpeg" alt="">
                  <div class="text">Rohit</div>
                  <p>Software developer at Capgemini India.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <img src="images/profile-3.jpeg" alt="">
                  <div class="text">Kishan Mahaur</div>
                  <p>Software developer at MPL India.</p>
              </div>
          </div>
<!--                 <div class="card">
              <div class="box">
                  <img src="images/profile-4.jpeg" alt="">
                  <div class="text">Someone name</div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <img src="images/profile-5.jpeg" alt="">
                  <div class="text">Someone name</div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div> -->
          </div>
      </div>
  </div>
</section>
{%endblock%}