<!DOCTYPE html>
{%extends 'MyApp/base.html'%}
{%load static%}
{%block contact%}
<section class="contact" id="contact">
  <div class="max-width" style=" margin-left: 200px;  margin-top: 20px;" >
      <h2 class="title">Contact Us</h2>
      <div class="contact-content">
          <div class="column left">
              <div class="text">Get in Touch</div>
              <p>Life becomes a celebration when friends keep in touch, so let's celebrate our life by keeping in touch with each other.</p>
              <div class="icons">
                  <div class="row">
                      <i class="fas fa-user"></i>
                      <div class="info">
                          <div class="head">Name</div>
                          <div class="sub-title">Chetan Parmar</div>
                      </div>
                  </div>
                  <div class="row">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="info">
                          <div class="head">Address</div>
                          <div class="sub-title">Cleanest Town in country, ❤️Indore, Madhya Pradesh.</div>
                      </div>
                  </div>
                  <div class="row">
                      <i class="fas fa-envelope"></i>
                      <div class="info">
                          <div class="head">Email</div>
                          <div class="sub-title">cparmar613@gmail.com</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{%endblock%}