<!DOCTYPE html>
{% extends "MyApp/base.html" %}
{% load static %}
{% block cust %}

<div align='center' style=" margin-left: 150px;"></div>

<table align='center' style=" margin-left: 600px;">
  <form method="post">
    <tr>
      <td> <button type="submit" class="btn btn-success" style="width:200px;margin-left: 25px;">Check Balance</button>
      </td>
      {%csrf_token%}
    </tr>
  </form>

  <br>

  <tr>
    Transfer Money
  </tr>

  <tr>
    Request Money
  </tr>
</table>


{%if show_bal%}
<br>
<table>

</table>

{%endif%}

{% endblock %}