<!DOCTYPE html>
{%extends 'MyApp/base.html'%}
{%load static%}
{%block services%}
<section class="services" id="services">
  <div class="max-width" style=" margin-left: 180px; margin-right: 20px; margin-top: 0px;">
      <h2 class="title">My services</h2>
      <div class="serv-content">
          <div class="card">
              <div class="box">
                  <i class="fas fa-paint-brush"></i>
                  <div class="text">Web Design</div>
                  <p>Website design is a thing of beauty and we do take it very seriously when it comes to client satisfaction.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-chart-line"></i>
                  <div class="text">Advertising</div>
                  <p>We Create and Manage Advertisement Campaign for best result of investment to our clients.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-code"></i>
                  <div class="text">Apps Design</div>
                  <p>In Apps Design the core focus on the customers and dedicatedly endeavour for their delight and satisfaction.</p>
              </div>
          </div>
         </div>
      </div>
  </div>
</section>
{%endblock%}